<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Desafio 4</title>
	</head>
	<body>
		<h1>Insertar Cliente</h1>
			<form th:action="@{/clientes/insertarcliente}" th:object="${cliente}" method="post">
			    <fieldset>
			        <legend>Datos del cliente</legend>
			        <table>
			            <tr>
			                <td><label for="Nombre">Nombre: </label></td>
			                <td><input type="text" name="nombre" /></td>
			            </tr>
			            <tr>
			                <td><label for="Apellidos">Apellidos: </label></td>
			                <td><input type="text" name="apellidos" /></td>
			            </tr>
			            <tr>
			                <td><label for="Fecha">Fecha de nacimiento: </label></td>
			                <td><input type="text" name="fecha_nac" /></td>
			            </tr>
			            <tr>
			                <td><label for="DNI">Documento de identidad: </label></td>
			                <td><input type="text" name="dni" /></td>
			            </tr>
			            <tr>
			                <td>
			                    <button type="submit">Registrar</button>
			                </td>
			            </tr>
			        </table>
			    </fieldset>
			</form>
	</body>
</html>